body {
  background-color: var(--secondaryColor);
}
header {
  height: 50px;
  padding: 0px 60px;

  border: 1px solid white;
  font-family: "DroidSans-Bold";
  color: white;
}
header > div {
  gap: 10px;
}
.admin-icon {
  height: 30px;
  width: 30px;
}
.tabs {
  gap: 20px;
  position: relative;
  box-shadow: 0 1px 0 white;
  width: fit-content;
  margin: 30px 60px;
}
.tabs > button {
  font-size: 16px;
  color: white;
  background-color: var(--secondaryColor);
  padding: 5px;
  width: 20vw;
  border: 1px solid var(--secondaryColor);
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.tabs > button:hover {
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}
.tabs > button:focus {
  color: white;
  border-bottom: 2px solid var(--primaryColor);
  background-color: transparent;
  position: relative;
  top: 1px;
  z-index: 1;
}

.moviesSection {
  margin: 30px 0px;
  padding: 10px 60px;
  height: 400px;
  overflow-y: scroll;
}
.usersSection {
  color: white;
  padding: 15px;
  border-radius: 20px;
  margin: 10px 60px;
  gap: 20px;
  font-size: medium;
  background-color: var(--lightBlue);
}
.usersSection > h2 {
  font-family: "Monteserrat";
  font-weight: 900;
  font-size: 36px;
  padding-left: 32px;
  color: var(--primaryColor);
}

.user-titles {
  border-bottom: 1px solid var(--secondaryColor);
  border-top: 1px solid var(--secondaryColor);
}
.user h3 {
  font-family: "Monteserrat";
  font-weight: 700;
}

.space {
  max-width: 125px;
}
.user {
  font-family: "Monteserrat";
  font-weight: 300;
  height: 50px;
  gap: 10px;
}
.user > div {
  width: 200px;
}

.ban-btn,
.unban-btn {
  border-color: transparent;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: rgb(59, 58, 58);
  font-weight: bold;
}
.ban-btn:hover,
.unban-btn:hover {
  opacity: 0.7;
}
.ban-btn {
  background-color: rgba(197, 48, 48, 0.751);
}
.unban-btn {
  background-color: rgba(27, 191, 136, 0.658);
}
.ban-btn:disabled,
.unban-btn:disabled {
  background-color: rgba(54, 50, 50, 0.589);
}

.movie {
  border: 1px solid grey;
  padding: 10px;
  /* width: 100%; */
}
.movie > div {
  width: 200px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-div {
  height: 150px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}
.stars i {
  color: #e6e6e6;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}
