body {
  background-color: #0d0235;
}
.chat-container {
  max-width: 100%;
  background-color: transparent;
  padding: 60px;
}

.messages {
  overflow-y: scroll;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.messages::-webkit-scrollbar {
  position: relative;
  width: 5px;
  background-color: white;
  border-radius: 5px;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 60%;
  word-wrap: break-word;
}

.user-message {
  background-color: #ffeea9;
  align-self: flex-end;
}

.api-response {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.message-input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.send-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
.back-btn {
  font-family: "DroidSans-Bold";
  border: 0;
  cursor: pointer;
  height: 35px;
  border-radius: 100px;
  font-weight: bold;
  transition: all 0.3s;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: black;
  z-index: 10;
}
.back-btn {
  position: absolute;
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.back-btn img {
  width: 100%;
  height: 100%;
}
header {
  height: 50px;
  padding: 10px 60px;
  font-family: "DroidSans-Bold";
  color: white;
}
header > div {
  gap: 10px;
}
.admin-icon {
  height: 30px;
  width: 30px;
}
