body,
.selectGenre {
  font-family: "DroidSans-Bold";

}

button {
  padding: 6px 24px;
  font-size: 16px;
  height: 30px;
  font-weight: bold;
  color: #0d0235;
  background-color: #ffce00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

navbar {
  height: 70px;
  justify-content: space-between;
  margin: 0 30px;
}

.navbar-center {
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
}

.selectGenre {
  color: white;
  border: none;
  background-color: #0d0235;
}

a {
  text-decoration: none;
  color: white;
}

section {
  margin-bottom: 5vh;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

.overflow-x {
  overflow-x: scroll;
  scrollbar-width: none;
}

.overflow-x::-webkit-scrollbar {
  display: none;
}

.hero-section {
  background-image: url("./../assets/hero-home.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  gap: 10px;
}

.moviesContainer {
  margin: 5vh;
  gap: 10px;
}

.moviesContainer h3 {
  color: #ffce00;
  font-weight: bold;
}

.movie {
  padding: 10px;
}

.max-width {
  max-width: 30vh;
}

.previous {
  background-image: url("./../assets/previous.png");
  background-position: center;
  background-repeat: no-repeat;
}

.next {
  background-image: url("./../assets/next.png");
  background-position: center;
  background-repeat: no-repeat;
}

.moviesContainer button {
  background-color: #0d0235;
  border: none;
  font-size: 1.8rem;
  width: 40px;
  height: 70px;
  cursor: pointer;
}

footer {
  border-top: 1px solid white;
  padding: 20px;
  height: 100px;
  margin-top: 50px;
}

footer>div {
  height: 100%;
  gap: 10px;
}

footer>div>div {
  gap: 20px;
}

footer h4 {
  margin-bottom: 10px;
}
