/* @font-face {
    font-family: 'DroidSans';
    src: url('../assets/fonts/DroidSans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans-Bold';
    src: url('../assets/fonts/DroidSans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.movie-details {
  width: 100%;
  justify-content: space-between;
}
.movie-details > div {
  width: 50%;
}
.movie-img {
  background-size: cover; /* Ensure the image covers the element */
  background-position: center;
}
.back-img {
  position: fixed;
  opacity: 50%;
}
.front-img {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.about-movie {
  width: 50vw;
  padding: 60px;
  align-items: start;
}
.top-title {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 70px 20px 40px 20px;
}
.top-title > h1 {
  display: flex;
  align-items: center;
}
.middle-title {
  justify-content: space-between;
  padding: 40px 20px 10px 20px;
  gap: 20px;
}
.middle-title > div {
  gap: 20px;
  padding-bottom: 40px;
}
.rating-box {
  /* position: relative; */
  background: transparent;
  /* padding: 25px 50px 35px; */
  border-radius: 25px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); */
}
.movie-details-part {
  gap: 20px;
  align-items: start;
  padding: 0px 20px 40px 20px;
}
.movie-details-part > P {
  text-align: left;
}

.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}
.btn-container {
  width: 100%;

  align-items: flex-end;
  justify-content: center;
}
.bookmark-btn {
  align-self: flex-end;
  width: 150px;
  font-size: 16px;
  color: #0d0235;
  background-color: #ffce00;
}
.back-btn {
  position: absolute;
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.back-btn img {
  width: 100%;
  height: 100%;
}
