* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: content-box;
}

.stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}

.primary-btn {
  width: 125px;
  height: 35px;
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 18px;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}
.primary-btn:hover {
  opacity: 60%;
}
.primary-btn:disabled {
  background-color: #917607;
}
.primary-btn:disabled:hover {
  opacity: 100%;
}
